<p>signup works!</p>
<button mat-button (click)="goToLogin()">Go to Login</button>

<div class="auth-content">
  <mat-card *ngIf="signUpForm">
    <mat-card-content>
      <div [formGroup]="signUpForm">
        <p>Sign up to continue</p>

        <!--<div *ngFor="let kv of signUpForm.value | keyvalue">-->
          <!--{{kv.key}}-->
          <!--<mat-form-field>-->
            <!--<input matInput type="text" placeholder="{{kv.key}}" [formControl]="getControl(kv.key)">-->
          <!--</mat-form-field>-->
        <!--</div>-->

        <mat-form-field>
          <input matInput type="text" placeholder="Username" formControlName="username" autocomplete="off">
          <mat-error *ngIf="signUpForm.get('username')?.errors?.username as usernmeError">{{usernmeError}}</mat-error>
          <!--{{this.signUpForm.get('username')?.errors | json}}-->
        </mat-form-field>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-around center"
               *ngFor="let control of getControls(signUpForm, 'emails') as controls; index as i; first as f">
            <mat-form-field fxFlex="80">
              <input matInput type="text" placeholder="Email" [formControl]="toControl(control)">
            </mat-form-field>
            <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center" style="color:#777">
              <button mat-icon-button *ngIf="f" (click)="addEmail()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button *ngIf="controls.length > 1" (click)="removeEmail(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div fxLayout="row">
          <div>Male</div>
          <app-switcher formControlName="male"></app-switcher>
        </div>

        <mat-divider [inset]="true" style="margin: 20px 0"></mat-divider>

        <div formGroupName="password">
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" formControlName="cpassword" required>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="signUpForm.invalid || signUpForm.pending"
          (click)="signup(signUpForm.value)"
        >
          Sign Up
        </button>
        <button mat-button [routerLink]="['/login']">Go to Login</button>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="signUpForm">
    <pre>{{signUpForm.value | json}}</pre>
    <pre>{{signUpForm.valid}}</pre>
  </div>
</div>
