<p>signup works!</p>
<button mat-button (click)="goToLogin()">Go to Login</button>

<div class="auth-content">
  <mat-card *ngIf="signUpForm">
    <mat-card-content>
      <div [formGroup]="signUpForm">
        <p>Sign up to continue</p>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" formControlName="username" appUsernameValidator>
          <ng-container *ngIf="signUpForm.get('username')?.errors?.username as usernmeError">
            <mat-error>{{usernmeError}}</mat-error>
          </ng-container>
          <!--{{this.signUpForm.get('username')?.errors | json}}-->
        </mat-form-field>

        <!--<div formGroupName="password">-->
          <!--<mat-form-field>-->
            <!--<input matInput type="password" placeholder="Password" formControlName="password" required>-->
          <!--</mat-form-field>-->
          <!--<mat-form-field>-->
            <!--<input matInput type="password" placeholder="Confirm password" formControlName="cpassword" required>-->
          <!--</mat-form-field>-->
        <!--</div>-->

        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="signUpForm.invalid"
          (click)="signup(signUpForm.value)"
        >
          Sign Up
        </button>
        <button mat-button [routerLink]="['/login']">Go to Login</button>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="signUpForm">
    <pre>{{signUpForm.value | json}}</pre>
    <pre>{{signUpForm.valid}}</pre>
  </div>
</div>
